
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&display=swap');
.navbar{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.navbar h1{
    margin: 0 15px;
    font-family: 'Kanit';
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
}

.navLinks{
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: flex-end;
    mask-image: url("./../nav.svg");
    background-size: 100%;
    padding-right: 10px;
}
.navLinks button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin: 0 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}
.navLinks:hover, .navbar h1:hover{
    cursor: pointer;
}