.project{
    display: flex;
    flex-direction: column;
     width: 40vw;
     padding: 30px 10vw;
     align-items: baseline;
     border: 1px solid black;
     border-radius: 25px;
 }


.title{
    font-size: 45px;
    font-weight: bolder;
}

.projectGroup{
    width: 100%;
    text-align: left;
}
.projectHeading{
    font-size:25px;
    font-weight: bold;
}
.projectItem{
    
    text-align: left;
    width: 100%;
    margin-left: 7px;
}





.techLabel{
    margin: 0;
    padding: 0;
    font-size: 13px;
}
.technologies{
    display: inline;
    list-style-type: none;
    padding: 0;
    text-align: left;
}
.technologies li{
    display: inline-block;
    font-size: 14px;
    background-color: #eee;
    padding: 4px 10px;
    text-align: center;
    border-radius: 10px;
    margin: 2px 3px;
}



.talkingPoints{
    width: 100%;
    display: flex;
    
}
.talkingPoints button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 20px;
    
}
.talkingPoints button{
    cursor: pointer;
}
.talkingPoint{
    padding: 10px;
    border-radius: 20px;
    flex-grow: 1;
    border: 1px solid black;
}